
###################
# LIBRARIES and co
###################
.deps
.libs
*.la

###################
# OBJECT FILES
###################
*.lo
*.o

###################
# Automake
###################
*.in

# Don't want to ignore makefiles under examples
# or other non-generated folders. Don't know 
# how to do that elegantly
Makefile
src/*/Makefile
src/*/*/Makefile
src/*/*/*/Makefile

###################
# Configure
###################
aclocal.m4
config.log
config.status
autom4te.cache
configure
libtool
# to be uncommented if we put some .m4 in there
config

###################
# OCR
###################
ocr-install

###################
# Tests
###################
*.dSYM
tests/tests-log
tests/tests-bin